.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.my-form-row{
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-right: 3%;
}
.form-row-display{
  display: flex;
  width: 50%;
  justify-content: center;
}
.form-row-display-caption{
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.form-row-display-value {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.button-edit-link{
  margin-right: 5%;
}

.form-row-edit{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.form-row-edit-caption{
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.form-row-edit-value {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
#root {
  margin: 1%;
}
.input-add-client{
  height: 80%;
  width: 50%;
}

.form-control{
  width: 50% !important;
  margin-bottom: 20px;
  flex-grow: 0 !important;
}
.label-form-control-wrapper{
  display: flex;
  justify-content: flex-end;
}
.valid{
  border-color: #28a745;
}
.valid:focus{
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.invalid{
  border-color: #dc3545;
}
.invalid:focus{
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.input-form{
  padding: 1.5rem;
}

.btn{
  margin-right: 10px;
}